! special
*.foreground:       #a6accd
*.background:       #0f111a

*.foregroundAlt:    #717cb4
*.backgroundAlt:    #090B10

*.cursorColor:      #ffcb6b

! black
*.color0:           #000000
*.color8:           #000000

! red
*.color1:           #f07178
*.color9:           #dc6068

! green
*.color2:           #c3e88d
*.color10:          #abcf76

! yellow
*.color3:           #ffcb6b
*.color11:          #e6b455

! blue
*.color4:           #82aaff
*.color12:          #6e98eb

! magenta
*.color5:           #c792ea
*.color13:          #b480d6

! cyan
*.color6:           #89ddff
*.color14:          #71c6e7

! white
*.color7:           #eeffff
*.color15:          #e2795b
